body {
  margin: 0;
  padding: 0;
  color: #444;
  background: #f7f7f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 200;
}

p {
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  /* list-style-type: square; */
  /* list-style-position: inside; */
  padding-left: 0;
  list-style: none;
}

ul.list-special li {
  display: inline-block;
  margin-right: 20px;
}

ul.list-special li:before {
  color: #999;
  font-size: 1em;
  padding-right: 4px;
  position: relative;
  top: 0em;
}

ul.list-special li:first-child:before {
  left: -1px;
  padding-right: 4;
}

ul.list-special li:before {
  content: "\25FD";
}

/* ul.list-special li:nth-child(even):before {
  color: #d9d9d9;
  content: "\25CF";
  font-size: 0.8em;
  padding-left: 2px;
  top: -1px;
} */

h1 {
  font-size: 50px;
  text-align: left;
  line-height: 52px;
  font-weight: bold;
  color: #444;
}

h2 {
  font-weight: 600;
  font-size: 35px;
}

h3 {
  font-weight: 600;
  font-size: 25px;
}

h4 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 15px;
}

footer {
  color: #999;
  font-size: 15px;
  padding-top: 0 !important;
}

a.link-underline {
  text-decoration: underline;
  font-weight: 600;
  margin-top: 0;
}

/* MARGIN AND PADDING HELPERS */

.margin-bottom-sm {
  margin-bottom: 5px;
}

.container {
  display: flex;
}

.sidebar {
  width: 360px;
  min-width: 360px;
  background: #fff;
  background-image: url("./imgs/matheus-baumgart@2x.png");
  background-size: 360px 360px;
  background-repeat: no-repeat;
  text-align: left;
  /* border-right: 1px solid #ececec; */
  min-height: 100vh;
}

.sidebar .sidebar-container {
  padding: 330px 40px 40px;
}

.matheus-baumgart {
  transition: all 0.3s ease;
}
.matheus-baumgart:hover {
  transform: scale(1.03);
}

.social-media-links img {
  margin-right: 4px;
  width: 25px;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.social-media-links img:hover {
  opacity: 0.9 !important;
}

.main-col {
  padding: 60px;
  max-width: 882px;
}

.main-col h3 {
  margin-top: 0;
}

.color-black {
  font-weight: 800;
  color: #000;
}

.color-333 {
  color: #333;
}

.text-bolder {
  font-weight: 700;
}

.text-500 {
  font-weight: 500;
}

/* WORK STYLES */

.work-page p {
  font-size: 16px;
  color: #666;
}

.work-item {
  margin-bottom: 60px;
}

.work-subtitle {
  color: #949494;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 3px;
}

.work-desc {
  font-size: 16px;
}

.work-images li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.back-button {
  color: #949494;
  text-decoration: underline;
}

.back-button:hover {
  text-decoration: none;
  color: #555;
}

.portfolio-button {
  padding: 6px 8px;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.portfolio-button img {
  opacity: 0.6;
}

.animate-image:hover .portfolio-button img{
  opacity: 0
}

/* .animate-image:hover {
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.12);
} */

.animate-image {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
}

.animate-image *,
.animate-image:before,
.animate-image:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.animate-image img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.animate-image:before,
.animate-image:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.animate-image:before {
  width: 0;
  height: 1px;
}

.animate-image:after {
  height: 0;
  width: 1px;
}

.animate-image figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 25px;
  width: 100%;
}

.animate-image h3 {
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  margin-bottom: 10px;
  opacity: 0;
}

.animate-image h4 {
  font-size: 15px;
  font-weight: normal;
  opacity: 0;
  margin: 0;
  color: #d0d0d0;
}

.animate-image a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.animate-image:hover img,
.animate-image.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.animate-image:hover:before,
.animate-image.hover:before,
.animate-image:hover:after,
.animate-image.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.animate-image:hover:before,
.animate-image.hover:before {
  width: 40px;
}

.animate-image:hover:after,
.animate-image.hover:after {
  height: 40px;
}

.animate-image:hover h3,
.animate-image.hover h3,
.animate-image:hover h4,
.animate-image.hover h4 {
  opacity: 1;
}

.animate-image:hover h3,
.animate-image.hover h3 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.animate-image:hover h4,
.animate-image.hover h4 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

@media only screen and (max-width: 769px) {
  .container {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    min-height: auto;
    margin: 0 auto;
    background-color: #fff;
    background-size: 100%;
  }
  .sidebar .sidebar-container {
    padding: 435px 30px 30px;
    padding-top: 90vw;
  }
  .main-col {
    padding: 50px 30px 30px;
  }
  .work-item figcaption h3,
  .work-item figcaption h4,
  .work-item figure:after,
  .work-item figure:before {
    display: none;
  }
  .animate-image:hover img {
    zoom: 1;
    filter: alpha(opacity=1);
    -webkit-opacity: 1;
    opacity: 1;
  }
  .animate-image:hover .portfolio-button img{
    opacity: 1
  }
}
@media only screen and (max-width: 1190px) {
  .work-item h3 {
    margin: 0;
  }
  .work-item h4 {
    display: none;
  }
}
